html {
    min-width: 100vw;
    min-height: 100vh;
}
.pic {
    background-color:blueviolet;
    border-radius: 50%;
    min-width: 7rem;
    min-height: 7rem;
    max-width: 7rem;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 2rem;
}

.menu_i {
    background-color: purple;
    min-width: 30vw;
    min-height: 15vh;
    max-width: 25vw;
    max-height: 20vh;
    border-radius: 100px;
}
.container {
    max-width: 40vw;
    margin-left: 1.4rem;
}
.content {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;  
 gap: 0.5rem;
 max-width: 60vw;
 min-height: 30vh;
 margin-left: 3rem;
 margin-bottom: 2rem;
 }

.content_i {
    background-color: coral;
    max-width: 30vw;
    max-height: 17vh;
    min-width: 25vw;
}
section {
    position: absolute;
    max-width: 30vw;   
    margin-left: 65%;
    top: 18.7em;
    
}
.aside {
    max-width: 50vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-bottom: 0;
}

.aside_i {
    background-color: fuchsia;
    min-width: 25vw;
    max-width: 30vw;
    max-height: 15vh;
    min-height: 4.16rem;

}

footer {
    min-width: 100vw;
    min-height: 20vh;
    background-color: rgb(193,201,154);
}


@media screen and (max-width: 600px) {
    
   header {
    display: flex;
    justify-content: center;
   }
    .menu{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        min-width: 100wv;
        min-height: 50wh;
        gap: 0.5rem;
        margin: 0.5rem;
    }

    .menu_i {
        min-width: 100vw;
        min-height: 8vh;   
    }

    .container {
        margin-left: 0;
    }
    .content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }

    .content_i {
    min-height: 8vh;
    min-width: 100vw;
}

section {
    position: inherit;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 0.5rem;
    top: 
}
.aside {
    display: flex;
    margin-top: 0;
}
.aside_i {
    min-width: 32vw;
    min-height: 8vh;

}
    footer {
        margin: 0.5rem;
    }
}