html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    grid-template-rows: 1fr 5fr 1fr;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}


.i_c {
    background-color: rgb(179, 0, 138);
    max-width: 25vw;
    min-height: 15vh;
}

main {
    margin-top: 0.5rem;
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.5rem;

}

.i_m {
    min-height: 70vh;
    min-width: 32vw;
    background-color: rgb(253, 170, 160);
    grid-row: 1 / 2;
}

footer {
    margin-top: 0.5rem;
    min-height: 15vh;
    background-color: rgb(193, 201, 154);
    margin-right: auto;
}

@media screen and (max-width: 600px;) {

.container {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
}

}